{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- -----------------fontawesome------------------------------ -->
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/fontawesome-free-5.14.0-web/css/fontawesome.min.css' %}"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>

    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static '/materialize/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static '/css/quiz.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/lightbox2-dev/dist/css/lightbox.min.css' %}"
    />

    <!-- ----------------slick--------------------------- -->
    <link rel="stylesheet" href="{% static '/slick-1.8.1/slick/slick.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/slick-1.8.1/slick/slick-theme.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"  content="Evaluate your current job in 3 minutes or less and find out if there's just a bump in the road or it's the end of the line.">
    <title>Take a Quiz</title>

  </head>

  <body>
     <!-- Navbar -->
     <header class="drop">

      <a href="{% url 'home' %}"><img class="desk_logo" src="{% static '/image/homepage_logo_new.png' %}" alt="Rapidez Writer Logo" /></a>
      <a href="{% url 'home' %}"><img class="mobile_logo" src="{% static '/image/logo-removebg.png' %}" alt="Rapidez Writer Logo" /></a>
      
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      
      <ul class="menu">
        <li>
          <a class="services">Services
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 serv" style="left: 38%">
            <div class="box111"></div>
            <a href="{% url 'resumeAnalysis:resumeAnalysis' %}"><li>Free Resume Critique</li></a>
            <a href="{% url 'resumeWriting' %}"><li>Executive Resume Writing</li></a>
			<a href="{% url 'resumeMakeover2' %}"><li>Resume Makeover</li></a>
            <a href="{% url 'linkedIn' %}"><li>LinkedIn Branding</li></a>
            <a href="{% url 'resumeVideo' %}"><li>Video Resume</li></a>
            <a href="{% url 'resumeConsulting' %}"><li>Job Consulting</li></a>
          </ul>
        </li>

        <li>
          <a class="resources">Resources
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 rscs" style="left: 38%">
            <a href="{% url 'quizes_list' %}"><li>Career Assessment</li></a>            
            <a href="{% url 'career_list_page' %}"><li>Career Advice</li></a>
            <a href="{% url 'faq' %}"><li>FAQ</li></a>
            
          </ul>
        </li>

        <li>
          <a class="comp">Company
            <i class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
                color: #0783ca;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12 cmpy" style="left: 38%">
            <a href="{% url 'about' %}"><li>Overview</li></a>
            <a href="{% url 'about' %}#aboutFounder"><li>About Founder</li></a>
            <a href="{% url 'contactUs' %}"><li>Contact Us</li></a>
            <a href="{% url 'job_page' %}"><li>Careers</li></a>          
          </ul>
        </li>

        <li><a href="{% url 'testimonials' %}" class="testimonials">Testimonials</a></li>

        {% if user.is_authenticated %}
        <li>
          <a href="#">Accounts
            <i
              class="fa fa-chevron-down"
              style="
                font-size: 10px;
                position: relative;
                bottom: 1px;
                opacity: 0.3;
              "
              aria-hidden="true">
            </i>
          </a>
          <ul class="ser1 ser12" style="left: 38%">
            <a href="{% url 'create_blog' %}"><li>Create Blog</li></a>
            <a href="{% url 'add_category' %}"><li>Create Category</li></a>
            <a href="{% url 'addFAQ' %}"><li>Create FAQ</li></a>
            <a href="{% url 'addJob' %}"><li>Create Job</li></a>

            <a href="{% url 'category_list_page' %}"><li>Delete Category</li></a>
          {% if request.user.is_staff %}
            <a href="{% url 'signup' %}"> <li> Register User </li></a>
          {% endif %}
            <a href="{% url 'logout' %}"> <li> Logout </li></a>
        {% endif %}
          </ul>
        </li>
      </ul>
    </header>
    <!-- navbar-end -->


<div class="parent">

  <div class="item ">
    <h3>Should you stay or quit your job?
    </h3>
    <h5>Evaluate your current job with our quiz and learn: </h5>
        <h6><i class="fas fa-check" style=""> </i> What are your main drivers for a potential career change?</h6>
        <h6><i class="fas fa-check"> </i> Are there big red flags in your relationship with work?</h6>
        <h6><i class="fas fa-check"> </i> Should you change employers or look for a promotion?</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="#takequiz">Take the Quiz</a>
  </div>

  <div class="item last" style="background: url({% static 'image/book.png' %}) center center no-repeat; background-size: contain;"></div>
  
</div>

<div class="container" id="takequiz" style="text-align: center;">
  <h3 style="margin: 3.946667rem 0 1.168rem 0;">We’ve created some resources for you</h3>
  <h5>Get inspired and find out your next step!</h5>
</div>

<!-- Quizes section for desktop -->
<div class="qfd">

<div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">

  <div class="item q1">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">Is your resume good enough? </h5>
    <h6 style="color: #8d8c8c; width: 70%;">Our free and fast resume grade relies on algorithms developed by reading 500,000 resumes. It will give you the answer in just 3 minutes!</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 1 %}">Take the Quiz</a>
  </div>
  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-1.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>
</div>


<div class="parent" style="padding: 0px 10%;
margin-top: 0% !important;
padding-left: 20%;
background: #f4f4f4;;">

  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez2.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>

  <div class="item" style="margin-left: 8em !important;
  background: #f4f4f4;">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">Resume Job Assessment Tool </h5>
    <h6 style="color: #8d8c8c; width: 70%;">We built a fast and free resume keyword checker and assessment tool that scans your resume and suggests optimizations for your job hunt. Give it a try!</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 2 %}">Take the Quiz</a>
  </div>
</div>

<div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">

  <div class="item q1">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">How long does it take to find a job?</h5>
    <h6 style="color: #8d8c8c; width: 70%;">We can't tell you what's the right next job for you, but we can tell you how much time getting it will take.</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 3 %}">Take the Quiz</a>
  </div>
  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez3.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>
</div>

<div class="parent" style="padding: 0px 10%;
margin-top: 0% !important;
padding-left: 20%;
background: #f4f4f4;;">

  <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez4.png' %}) center center no-repeat; background-size: contain;width: 30%;
  margin: -10% 0px 0px 10px!important;"></div>

  <div class="item" style="margin-left: 8em !important;
  background: #f4f4f4;">
    <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
    font-weight: 500; ">Are You Unhappy at Work?</h5>
    <h6 style="color: #8d8c8c; width: 70%;">Take our quiz to find out if you’re unhappy at work and what’s the main reason for it. We’ll also give you some ideas and solutions to follow!</h6>
    <br> <br> 
    <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 3 %}">Take the Quiz</a>
  </div>
</div>
<!-- <div id="quiz" class="typeform-widget" data-url="https://form.typeform.com/to/fRnkKnTK?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->

<div class="parent">

    <div class="item">
      <h3>About the quiz
      </h3>
      <h5> We all have been there. Whether it’s a stubborn colleague, a manager you don’t see eye to eye with, a challenging project - or lack of one amidst a sea of monotonous work.</h6>
      <h5>It’s common to feel you’re ready to move on and change your job - but there’s often doubt involved. Is this a phase in the relationship with your work or really the break-up point?</h6>
      <h5>We developed this quiz to help you evaluate your current job from several different angles and uncover if there’s a reason to be setting your eyes in a new direction.</h6>
    </div>
  
    <div class="item last image_updated" style="background: url({% static 'image/quiz1.png' %}) center center no-repeat; background-size: contain;"></div>
    
</div>

</div>
<!-- Quizes for desktops end -->


<!-- Quizes section for mobiles -->
<div class="qfm">

  <!-- Quiz 1 -->
  <div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">
    <div class="item q1">
      <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
      font-weight: 500; ">Is your resume good enough? </h5>
      <h6 style="color: #8d8c8c; width: 100%; text-align: justify;">Our free and fast resume grade relies on algorithms developed by reading 500,000 resumes. It will give you the answer in just 3 minutes!</h6>
      <br> <br> 
      <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 1 %}">Take the Quiz</a>
    </div>
    <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-1.png' %}) center center no-repeat; background-size: contain;width: 30%;
    margin: -10% 0px 0px 10px!important;"></div>
  </div>

  <!-- Quiz 2 -->
  <div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">
    <div class="item q1">
      <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
      font-weight: 500; ">Resume Job Assessment Tool </h5>
      <h6 style="color: #8d8c8c; width: 100%; text-align: justify;">We built a fast and free resume keyword checker and assessment tool that scans your resume and suggests optimizations for your job hunt. Give it a try!</h6>
      <br> <br> 
      <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 2 %}">Take the Quiz</a>
    </div>
    <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez2.png' %}) center center no-repeat; background-size: contain;width: 30%;
    margin: -10% 0px 0px 10px!important;"></div>
  </div>

  <!-- Quiz 3 -->
  <div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">
    <div class="item q1">
      <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
      font-weight: 500; ">How long does it take to find a job?</h5>
      <h6 style="color: #8d8c8c; width: 100%; text-align: justify;">We can't tell you what's the right next job for you, but we can tell you how much time getting it will take.</h6>
      <br> <br> 
      <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 3 %}">Take the Quiz</a>
    </div>
    <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez3.png' %}) center center no-repeat; background-size: contain;width: 30%;
    margin: -10% 0px 0px 10px!important;"></div>
  </div>  
  
  <!-- Quiz 4 -->
  <div class="parent" style="padding: 0px 10%; margin-top: 2% !important;">
    <div class="item q1">
      <h5 style="font-size: 2.1rem; color: rgb(6, 19, 43);
      font-weight: 500; ">Are You Unhappy at Work?</h5>
      <h6 style="color: #8d8c8c; width: 100%; text-align: justify;">Take our quiz to find out if you’re unhappy at work and what’s the main reason for it. We’ll also give you some ideas and solutions to follow!</h6>
      <br> <br> 
      <a class="waves-effect waves-light btn btn-large" href="{% url 'quizes' 4 %}">Take the Quiz</a>
    </div>
    <div class="item last" style="background: url({% static 'image/drawkit-grape-pack-illustration-rapidez4.png' %}) center center no-repeat; background-size: contain;width: 30%;
    margin: -10% 0px 0px 10px!important;"></div>
  </div>    
  
  <!-- <div id="quiz" class="typeform-widget" data-url="https://form.typeform.com/to/fRnkKnTK?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->
  
  <div class="parent">
  
      <div class="item">
        <h3>About the quiz
        </h3>
        <h5> We all have been there. Whether it’s a stubborn colleague, a manager you don’t see eye to eye with, a challenging project - or lack of one amidst a sea of monotonous work.</h6>
        <h5>It’s common to feel you’re ready to move on and change your job - but there’s often doubt involved. Is this a phase in the relationship with your work or really the break-up point?</h6>
        <h5>We developed this quiz to help you evaluate your current job from several different angles and uncover if there’s a reason to be setting your eyes in a new direction.</h6>
      </div>
    
      <div class="item last" style="background: url({% static 'image/quiz1.png' %}) center center no-repeat; background-size: contain;"></div>
      </div>
  
  </div>
  <!-- Quizes for mobiles end -->
     <!-- --------------------------------------------------footer----------------------------- -->
     <footer class="footer">
      <div class="product">
        <h5>PRODUCTS</h5>
        <a href="{% url 'resumeAnalysis:resumeAnalysis' %}"><p>Free Resume Critique</p></a>
        <a href="{% url 'resumeWriting' %}"><p>Executive Resume Writing</p></a>
			<a href="{% url 'resumeMakeover2' %}"><li>Resume Makeover</li></a>
        <a href="{% url 'linkedIn' %}"><p>Linkedin Branding</p></a>
        <a href="{% url 'resumeVideo' %}"><p>Video Resume</p></a>
        <a href="{% url 'resumeConsulting' %}"><p>Job Consulting</p></a>
      </div>
  
      <div class="learn">
        <h5>LEARN MORE</h5>
        <a href="{% url 'quizes_list' %}"><p>Career Assessment</p></a>
        <a href="{% url 'career_list_page' %}"><p>Career Advice</p></a>
        <a href="{% url 'testimonials' %}"><p>Testimonials</p></a>
        <a href="{% url 'faq' %}"><p>FAQs</p></a>
        <a href="{% url 'privacypolicy' %}"><p>Privacy Policy</p></a>
        <a href="{% url 'terms' %}"><p>Terms & Conditions</p></a>
      </div>
  
      <div class="company">
        <h5>COMPANY</h5>
        <a href="{% url 'about' %}"><p>Overview</p></a>
        <a href="{% url 'about' %}#aboutFounder"><p>About Founder</p></a>
        <a href="{% url 'contactUs' %}"><p>Contact Us</p></a>
        <a href="{% url 'job_page' %}"><p>Careers</p></a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"> <p> Logout </p></a>
        {% else %}
        <a href="{% url 'login' %}"> <p> Login </p></a>
        {% endif %}
      </div>
  
      <!-- src="{% static '/image/homepage_logo-removebg.png' %}"  -->
      <!-- style="margin-bottom: 1.5em" -->
      <div class="branded">
        <a href="{% url 'home' %}">
        <img 
        class="desk_logo" 
        src="{% static '/image/homepage_logo_small-removebg.png' %}" 
        alt="Rapidez Writer Logo" 
         />
       
        <ul class="socialmedia-icons">
        
        <li>
        <!-- Google -->
        <!-- style="margin-left: 20px; margin-right: 7px" -->
        <a 
	  href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x3bae3f8b54c6882b:0xade680c7e44156dc?source=g.page.m"
        style="color: #dbe0f2"
        target="blank">
        <i
          class="fab fa-google fa-2x"
          
          aria-hidden="true"
        ></i>
        </a>
        </li>
  
        <li>
        <!-- LinkedIn -->
        <!--         style="margin-left: 20px; margin-right: 7px" -->
        <a 
        href="https://www.linkedin.com/company/rapidezwriters/" 
        style="color: #dbe0f2"
        target="blank">
        <i
          class="fab fa-linkedin fa-2x"
          aria-hidden="true">
        </i>
        </a>
        </li>
  
        <li>
      <!-- Facebook -->
      <!-- style="margin-left: 20px; margin-right: 7px" -->
          <a 
	  href="https://www.facebook.com/Rapidezwriter"
            style="color: #dbe0f2"
            target="blank">
            <i 
            class="fab fa-facebook fa-2x" 
            
            aria-hidden="true">
          </i>
          </a>
        </li>
  
        <li>
        <!-- Instagram -->
        <!-- style="margin-left: 20px; margin-right: 7px" -->
        <a 
	  href="https://www.instagram.com/rapidezwriters/"
          style="color: #dbe0f2"
          target="blank">
          <i 
          class="fab fa-instagram fa-2x"
          aria-hidden="true"
          
          >
        </i>
        </a>
        </li>
  
        <li>
        <!-- Youtube -->
        <!--           style="margin-left: 20px; margin-right: 7px" -->
          <a 
	  href="https://www.youtube.com/channel/UCaabk3MePID64Vh6R1-8Fhg"
            style="color: #dbe0f2"
            target="blank">
            <i 
	 class="fab fa-youtube fa-2x" 
 	 aria-hidden="true"> 
 	 </i> 
 	 </a> 
 	 </li> 
 
 	 <li> 
 	 <!-- Quora --> 
 	 <a 
 	 href="https://rapidezwriterbyprashanthmudaliar.quora.com/" 
 	 style="color: #dbe0f2" 
 	 target="blank"> 
 	 <i 
 	 class="fab fa-quora fa-2x" 
 	 
            aria-hidden="true"
  
            >
          </i>
          </a>
        </li>   
        
        </ul>
      </div>
    </footer>


    <!--JavaScript at end of body for optimized loading-->
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static '/lightbox2-dev/dist/js/lightbox.js' %}"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/materialize/js/materialize.min.js' %}"
    ></script>

    <script type="text/javascript">
      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".carousel").carousel();
        $(".carousel.how-it-works").carousel({
          fullWidth: true,
          indicators: true
        });
      });
    </script>

    <script>
      $(".post-wrapper").slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: $(".next"),
        prevArrow: $(".prev"),
      });
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1200,
      });
    </script>

<script>
  if($(window).width() <= 480){

// For the sub-menu
//Services
$(".services").click(function(){
$('.rscs').hide();
$('.cmpy').hide();
$('.serv').slideToggle('normal');
$('.serv').css("position", "relative");
});

//Resources
$(".resources").click(function(){
$('.serv').hide();
$('.cmpy').hide();
$('.rscs').slideToggle('normal');
$('.rscs').css("position", "relative");
});

//Company
$(".comp").click(function(){
$('.serv').hide();
$('.rscs').hide();
$('.cmpy').slideToggle('normal');
$('.cmpy').css("position", "relative");
});

}
</script>

    <script src="//code.tidio.co/8cfnhkqijnxjlimblu2zc8oezedbmt9r.js" async></script>
  </body>
</html>
